<div class="container" style="border: 1px solid black;">
  <h1>Parent to child communication</h1>
  <!-- <app-user *ngFor="let data of data" [hero]="data"></app-user> -->
  <app-user [hero]="data"></app-user>

</div>

<div class="container">
  <div class="row" style="padding-top: 10px;">
    <div class="col-2 borderstyle">
      <button class="btn btn-primary" (click)="clickEvent()"> Single Click me </button>
      <p>{{click}}</p>
    </div>
    <div class="col-2 borderstyle">
      <button class="btn btn-primary" (dblclick)="dblclickEvent()">Double Click me </button>
      <p>{{dblclick}}</p>
    </div>
    <div class="col-2 borderstyle">
      <button class="btn btn-primary" (mouseenter)="mouseEnterEvent()">Mouse hover me </button>
      <p>{{mouseHover}}</p>
    </div>
    <div class="col-2 borderstyle">
      <button class="btn btn-primary" (mouseleave)="mouseLeaveEvent()"> Mouse hover Leave</button>
      <p>{{mouseLeave}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2 borderstyle">
      <input type="text" (blur)="blurEvent()" placeholder="Name">
      <p>{{textBlurEvent}}</p>
    </div>
    <div class="col-2 borderstyle">
      <label for="focus">Click Here for focus</label>
      <input type="text" placeholder="Name" id="focus">
    </div>
    <div class="col-2 borderstyle" style="width: auto;">
      <input (keyup)="onKeyUp($event)" type="text" placeholder="Name">
      <p>{{text}}</p>
    </div>
    <div class="col-2 borderstyle" style="width: auto;">
      <input (keyup.space)="onTextSpace($event)" type="text" placeholder="Name">
      <p>{{textSpace}}</p>
    </div>
    <div class="col-2 borderstyle" style="width: auto;">
      <input (keyup.enter)="onEnter($event)" type="text" placeholder="Name">
      <p>{{textEnter}}</p>
    </div>
  </div>
</div>